.hero {
  padding-bottom: 103px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
    position: relative;
  }
  &-content {
    width: 100%;
    max-width: 555px;
  }
  &-heading {
    font-weight: 500;
    font-size: 50px;
    color: $text-color2;

    line-height: calc(70 / 50);
    font-family: $font;
    margin-bottom: 20px;
  }
  &-image {
    position: absolute;
    top: 50%;
    transform: translate(40px, -50%);
    right: 0;
  }
  strong {
    font-weight: 700;
  }
  &-desc {
    font-weight: 400;
    line-height: calc(30 / 16);
    margin-bottom: 50px;
  }
  &-input {
    box-shadow: 1px 6px 22px -1px #f53838;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image {
    position: absolute;
    top: 50%;
    transform: translate(40px, -50%);
    right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .hero-image {
    position: static;
    transform: none;
  }
  .hero-heading {
    font-size: 35px;
  }
  .hero {
    padding-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    .hero-container {
      flex-direction: column-reverse;
      gap: 50px 0;
    }
    .hero-desc {
      margin-bottom: 25px;
    }
  }
}
