.intro {
  &-container {
    background: #ffffff;
    border-radius: 10px;
    display: grid;

    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &-item:last-child {
    border: none;
  }
  &-title {
    margin-bottom: 5px;
    color: $text-color2;
  }
  &-text {
    font-size: 20px;
    line-height: calc(30 / 25);
  }
}
@media screen and (min-width: 768px) {
  .intro-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #eeeff2;
    gap: 37px;
    font-size: 25px;
    line-height: calc(30 / 25);
  }
}

@media screen and (max-width: 767px) {
  .intro-container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    text-align: center;
  }
}
